{% extends 'base.html' %}

{% load static %}

{% block 'title' %}Login{% endblock %}

{% block 'css' %}
    {% static 'css/register-login.css' %}
{% endblock %}

{% block 'content' %}

    <form method="POST" action="{% url 'validate_login' %}" class="formulario" id="formularioLogin">
        {% csrf_token %}       

        <img src="{% static 'img/logo.png' %}" style="width: 160px; height: 160px; display: block; margin: auto;" alt="">

        <hr class="linhaFormulario">

        <div id="conteudo">

            <h1 class="titulo">Acesse sua conta</h1>

            <div style="margin-bottom: 15px;">
                <label for="loginEmail" class="label-campo">E-mail <strong><span class="asteristico">*</span></strong></label>
                <input type="email" class="input-campo" id="loginEmail" name="email" placeholder="Digite seu e-mail . . ." required>
            </div>
            <div>
                <label for="loginPassword" class="label-campo">Senha <strong><span class="asteristico">*</span></strong></label>
                <input type="password" class="input-campo" id="loginPassword" name="password" placeholder="Digite sua senha . . ." required>
            </div>

            <button type="submit" class="botao-principal">Entrar</button>
        </div>
        <hr class="linhaFormulario">
        <div class="rodape-formulario">
            <p>Não tem uma conta? <a href="{% url 'register' %}" class="clique-aqui">Cadastre-se aqui</a></p>
        </div>
    </form>

{% endblock %}