{% extends 'base.html' %}

{% load static %}

{% block 'title' %}Loja{% endblock %}

{% block 'css' %}
    {% static 'css/store.css' %}
{% endblock %}

{% block 'content' %}

    <!-- Título da Loja -->
    <div id="container-titulo-loja"> 
        <div id="linha-vertical1"></div>
        <div id="linha-vertical2"></div>
        <h1 id="titulo-loja">
            {{store.name}}
        </h1>
    </div>

    <!-- Sessões Loja -->
    <div id="sessoes">

        <!-- Section Informações -->
        <section class="quadrado-branco" id="informacoes"> 
            <div class="conteudo">

                <div id="div-titulo-sessao">
                    <i class="bi bi-info-square-fill"></i>
                    <h2 class="titulo-sessao">INFORMAÇÕES</h2>
                </div>
                <div id="adicionar-produto" data-bs-toggle="modal" data-bs-target="#modalEditarProduto">
                    <i class="bi bi-pencil-square" id="icone-adicionar-produto"></i> Editar
                </div>
                
                <div id="div-conteudo-informacoes">
                    <div class="item-paragrafro" title="Telefone para contato">
                        <i class="bi bi-telephone-fill"></i>
                        <p class="p-informacao">
                            <strong>Tel:</strong> 
                            {{store.phone}}
                        </p>
                    </div>
                    <br>
                    <div class="item-paragrafro" title="localização da loja">
                        <i class="bi bi-geo-alt-fill"></i>
                        <p class="p-informacao">
                            <strong>Bairro:</strong> {{store.address}}
                        </p>
                        <br>
                        <p class="p-informacao" style="margin-left: 25.5px;">
                            <strong>Rua:</strong> 
                            {{store.district}}
                        </p>
                        <br>
                        <p class="p-informacao" style="margin-left: 25.5px;">
                            <strong>Número:</strong> 
                            {{store.number}}
                        </p>
                            <br>
                    </div><br>
                    <div class="item-paragrafro" title="Cidade/Estado">
                        <i class="bi bi-house-fill"></i>
                        <p class="p-informacao">
                            <strong>Local:</strong> {{store.city}}/{{store.state}}
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="quadrado-branco" id="produtos"> 
            <div class="conteudo">

                <div id="div-titulo-sessao">
                    <i class="bi bi-basket3-fill"></i>
                    <h2 class="titulo-sessao">PRODUTOS</h2>
                </div>
                <div id="adicionar-produto" data-bs-toggle="modal" data-bs-target="#modalAdicionarProduto">
                    <i class="bi bi-plus-lg" id="icone-adicionar-produto"></i> Adicionar
                </div>

                <div class="container-itens-scroll">
                    <div class="scroll-horizontal">
                        <button class="botao" id="botaoEsquerdo" onclick="scrollHorizontal(1)"><i class="bi bi-chevron-left" id="arrow"></i></button>
                        <button class="botao" id="botaoDireito" onclick="scrollHorizontal(-1)"><i class="bi bi-chevron-right" id="arrow"></i></button>
                        <div id="cards-container">
                            <div class="card" style="width: 11rem;">
                                <div class="card-img-top" id="img1"><i class="bi bi-trash3-fill" id="icone-deletar-produto"></i></div>
                                <div class="card-body">
                                    <h5 class="card-title">Maça</h5>
                                    <p class="card-text" style="margin-bottom: 0;">10 unidades</p>
                                    <p class="card-text">R$ 19,90</p>
                                    <button type="button" class="btn btn-laranja" data-bs-toggle="modal" data-bs-target="#modalVerProduto">Ver produto</button>
                                </div>
                            </div>
                            <div class="card" style="width: 11rem;">
                                <div class="card-img-top" id="img2"><i class="bi bi-trash3-fill" id="icone-deletar-produto"></i></div>
                                <div class="card-body">
                                    <h5 class="card-title">Melancia</h5>
                                    <p class="card-text" style="margin-bottom: 0;">3 unidades</p>
                                    <p class="card-text">R$ 35,90</p>
                                    <button type="button" class="btn btn-laranja" data-bs-toggle="modal" data-bs-target="#modalVerProduto">Ver produto</button>                                    </div>
                            </div>
                            <div class="card" style="width: 11rem;">
                                <div class="card-img-top" id="img3"><i class="bi bi-trash3-fill" id="icone-deletar-produto"></i></div>
                                <div class="card-body">
                                    <h5 class="card-title">Melancia </h5>
                                    <p class="card-text" style="margin-bottom: 0;">5 kg</p>
                                    <p class="card-text">R$ 12,90</p>
                                    <button type="button" class="btn btn-laranja" data-bs-toggle="modal" data-bs-target="#modalVerProduto">Ver produto</button>                                    </div>
                            </div>
                            <div class="card" style="width: 11rem;">
                                <div class="card-img-top" id="img4"><i class="bi bi-trash3-fill" id="icone-deletar-produto"></i></div>
                                <div class="card-body">
                                    <h5 class="card-title">Uva</h5>
                                    <p class="card-text" style="margin-bottom: 0;">8 kg</p>
                                    <p class="card-text">R$ 25,90</p>
                                    <button type="button" class="btn btn-laranja" data-bs-toggle="modal" data-bs-target="#modalVerProduto">Ver produto</button>                                    </div>
                            </div>
                            <div class="card" style="width: 11rem;">
                                <div class="card-img-top" id="img4"><i class="bi bi-trash3-fill" id="icone-deletar-produto"></i></div>
                                <div class="card-body">
                                    <h5 class="card-title">Uva</h5>
                                    <p class="card-text" style="margin-bottom: 0;">4 unidades</p>
                                    <p class="card-text">R$ 10</p>
                                    <button type="button" class="btn btn-laranja" data-bs-toggle="modal" data-bs-target="#modalVerProduto">Ver produto</button>                                    </div>
                            </div>
                            <div class="card" style="width: 11rem;">
                                <div class="card-img-top" id="img4"><i class="bi bi-trash3-fill" id="icone-deletar-produto"></i></div>
                                <div class="card-body">
                                    <h5 class="card-title">Uva</h5>
                                    <p class="card-text" style="margin-bottom: 0;">20 unidades</p>
                                    <p class="card-text">R$ 9,90</p>
                                    <button type="button" class="btn btn-laranja" data-bs-toggle="modal" data-bs-target="#modalVerProduto">Ver produto</button>                                    </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="quadrado-branco" id="chat">
            <div class="conteudo">

                <div id="div-titulo-sessao">
                    <i class="bi bi-chat-left-text-fill"></i>
                    <h2 class="titulo-sessao">CHAT</h2>
                </div>
            </div>
        </section>

    </div>

{% endblock %}